<div class='board'>
  <%= render partial: 'preselected_tiles/monastery' %>
  <%= render partial: 'preselected_tiles/plain_one_castle' %>
  <div class='tile'>
    <div class='castle-east-west-connected'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-south-connected'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-west-connected'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-south-connected'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-west-connected'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-east-connected'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-east-connected'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-west-connected'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-west-connected'></div>
    <div class='barricade-north-west-corner'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-east-connected'></div>
    <div class='barricade-north-east-corner'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-east-connected'></div>
    <div class='barricade-south-east-corner'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-west-connected'></div>
    <div class='barricade-south-west-corner'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-west-not-connected'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-south-not-connected'></div>
  </div>
  <div class='tile'>
    <div class='castle-neighbours-not-connected-shared-no-road'></div>
    <div class='castle-north-small'></div>
    <div class='castle-west-small'></div>
  </div>
  <div class='tile'>
    <div class='castle-neighbours-not-connected-shared-no-road'></div>
    <div class='castle-west-small'></div>
    <div class='castle-south-small'></div>
  </div>
  <div class='tile'>
    <div class='castle-neighbours-not-connected-shared-no-road'></div>
    <div class='castle-south-small'></div>
    <div class='castle-east-small'></div>
  </div>
  <div class='tile'>
    <div class='castle-neighbours-not-connected-shared-no-road'></div>
    <div class='castle-east-small'></div>
    <div class='castle-north-small'></div>
  </div>
  <div class='tile'>
    <div class='castle-west-north-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-east-south'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-south-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-west-north'></div>
  </div>
  <div class='tile'>
    <div class='castle-west-north-east'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-east-south'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-south-west'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-west-north'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='castle-all-sides'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='castle-west-north-east'></div>
    <div class='road-south'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-east-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-south-west'></div>
    <div class='road-north'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-west-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-west-north-east'></div>
    <div class='road-south'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-east-south'></div>
    <div class='road-west'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-south-west'></div>
    <div class='road-north'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-west-north'></div>
    <div class='road-east'></div>
    <div class='barricade-center'></div>
  </div>
  <div class='tile'>
    <div class='square'></div>
    <div class='road-east'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='square'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-connected-road'></div>
    <div class='road-east'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-connected-road'></div>
    <div class='road-east'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
  </div>
  <div class='tile'>
    <div class='castle-west-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-west-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-west-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-east-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-east-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-west-connected-road'></div>
    <div class='barricade-north-west-corner'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-west-connected-road'></div>
    <div class='barricade-south-west-corner'></div>
    <div class='road-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-east-connected-road'></div>
    <div class='barricade-south-east-corner'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-east-connected-road'></div>
    <div class='barricade-north-east-corner'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='square'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='square'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='square'></div>
    <div class='road-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-west-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-west-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-south'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-north'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-east'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-south'></div>
  </div>
  <div class='tile'>
    <div class='castle-south'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-west'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
    <div class='road-west'></div>
  </div>
</div>
