<div class='alert alert-info'>
  <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
  <strong>Preparing The Game!</strong> The game creator will start the game when everybody responded.
</div>

<section id="game" data-channel="game" data-game-id="<%= game.id %>">
  <table class='table'>
    <thead>
      <th>Username</th>
      <th>Inivation status</th>
    </thead>
    <tbody>
      <%= render game.game_players %>
    </tbody>
  </table>

  <% if current_user != game.owner && current_game_player.invite == 'pending' %>
    <form>
      <input type='submit' data-behavior='game_accept' class='btn btn-success' value='Join Game'>
      <input type='submit' data-behavior='game_decline' class='btn btn-danger' value='Decline'>
    </form>
  <% end %>

  <% if current_user == game.owner %>
    <form>
      <input type='submit' data-behavior='game_start' class='btn btn-success' value='Start Game'>
    </form>
  <% end %>

</section>
