// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
// @import "bootstrap";

$field: #21B51D; // green
$castle: #B5651D; // brown
$road: white;
$monastery: #B51D21; // red
$barricade: #5176ED; // bluish

@import "monasteries";
@import "roads";
@import "tiles";
@import "castles";
@import "barricades";

li.users_search {
  display: block !important;
}

