.castle-shared {
  position: absolute;
	height: 30px;
	width: 30px;
  z-index: 5;
}
.castle-north, .castle-north-connected-road {
  @extend .castle-shared;
	border-left: 30px solid $field;
	border-right: 30px solid $field;
	border-bottom: 30px solid $field;
	border-top: 30px solid $castle;
}

.castle-north {
  background-color: $field;
}

.castle-north-connected-road {
  background-color: $road;
}

.castle-south, .castle-south-connected-road {
  @extend .castle-shared;
	border-left: 30px solid $field;
	border-right: 30px solid $field;
	border-top: 30px solid $field;
	border-bottom: 30px solid $castle;
}

.castle-south {
  background-color: $field;
}

.castle-south-connected-road {
  background-color: $road;
}

.castle-west, .castle-west-connected-road {
  @extend .castle-shared;
	border-top: 30px solid $field;
	border-right: 30px solid $field;
	border-bottom: 30px solid $field;
	border-left: 30px solid $castle;
}

.castle-west {
  background-color: $field;
}

.castle-west-connected-road {
  background-color: $road;
}

.castle-east, .castle-east-connected-road {
  @extend .castle-shared;
	border-left: 30px solid $field;
	border-top: 30px solid $field;
	border-bottom: 30px solid $field;
	border-right: 30px solid $castle;
}

.castle-east {
  background-color: $field;
}

.castle-east-connected-road {
  background-color: $road;
}

.castle-east-west-connected, .castle-north-south-connected, .castle-north-south-not-connected, .castle-east-west-not-connected {
  @extend .castle-shared;
	border-left: 30px solid $castle;
	border-top: 30px solid $field;
	border-bottom: 30px solid $field;
	border-right: 30px solid $castle;
}

.castle-east-west-connected, .castle-north-south-connected {
  background-color: $castle;
}

.castle-north-south-connected {
  transform: rotate(90deg);
}

.castle-north-east-connected, .castle-north-west-connected, .castle-south-east-connected, .castle-south-west-connected, .castle-north-east-connected-road, .castle-north-west-connected-road, .castle-south-east-connected-road, .castle-south-west-connected-road {
  @extend .castle-shared;
	border-left: 30px solid $castle;
	border-right: 30px solid $field;
	border-bottom: 30px solid $field;
	border-top: 30px solid $castle;
}

.castle-north-east-connected, .castle-north-west-connected, .castle-south-east-connected, .castle-south-west-connected {
  background-color: $castle;
}

 .castle-north-east-connected-road, .castle-north-west-connected-road, .castle-south-east-connected-road, .castle-south-west-connected-road {
  background-color: $road;
}

.castle-north-east-connected, .castle-north-east-connected-road {
  transform: rotate(90deg);
}

.castle-south-east-connected, .castle-south-east-connected-road {
  transform: rotate(180deg);
}

.castle-south-west-connected, .castle-south-west-connected-road  {
  transform: rotate(270deg);
}

.castle-north-south-not-connected, .castle-east-west-not-connected {
  background-color: $field;
}

.castle-east-west-not-connected {
  transform: rotate(90deg);
}

.castle-neighbours-not-connected-shared {
  @extend .castle-shared;
	border-left: 30px solid $field;
	border-right: 30px solid $field;
	border-bottom: 30px solid $field;
	border-top: 30px solid $field;
}

.castle-neighbours-not-connected-shared-no-road {
  @extend .castle-neighbours-not-connected-shared;
  background-color: $field;
}

.castle-neighbours-not-connected-shared-with-road {
  @extend .castle-neighbours-not-connected-shared;
  background-color: $road;
}

.castle-north-small {
  @extend .castle-shared;
  left: 10px;
	border-top: 20px solid $castle;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
  z-index: 9;
}

.castle-west-small {
  @extend .castle-shared;
  top: 10px;
  left: 40px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid $castle;
  z-index: 9;
}

.castle-south-small {
  @extend .castle-shared;
  top: 40px;
  left: 10px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid $castle;
  z-index: 9;
}

.castle-east-small {
  @extend .castle-shared;
  top: 10px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid $castle;
  z-index: 9;
}

.castle-west-north-east, .castle-north-east-south, .castle-east-south-west, .castle-south-west-north {
  @extend .castle-shared;
  background-color: $castle;
	border-left: 30px solid $castle;
	border-right: 30px solid $castle;
	border-bottom: 30px solid $field;
	border-top: 30px solid $castle;
}

.castle-north-east-south {
  transform: rotate(90deg);
}

.castle-east-south-west {
  transform: rotate(180deg);
}

.castle-south-west-north {
  transform: rotate(270deg);
}

.castle-all-sides {
  @extend .castle-shared;
  background-color: $castle;
	border-left: 30px solid $castle;
	border-right: 30px solid $castle;
	border-bottom: 30px solid $castle;
	border-top: 30px solid $castle;
}
