.board {
  font-size: 0;
}

.tile {
  height: 90px;
	width: 90px;
  display: inline-block;
  position: relative;
}

.square, .square-not-connected {
  position: absolute;
	height: 30px;
	width: 30px;
	border-left: 30px solid $field;
	border-right: 30px solid $field;
	border-bottom: 30px solid $field;
	border-top: 30px solid $field;
  z-index: 5;
}

.square {
  background-color: $road;
}

.square-not-connected {
  background-color: $field;
}

