<div class='tile id-14-0 id-14-180'>
  <div class='square'></div>
  <div class='road-north'></div>
  <div class='road-south'></div>
</div>
<div class='tile id-14-90 id-14-270'>
  <div class='square'></div>
  <div class='road-east'></div>
  <div class='road-west'></div>
</div>
