<div class='tile'>
  <div class='square'></div>
  <div class='road-east'></div>
  <div class='road-west'></div>
</div>
<div class='tile'>
  <div class='square'></div>
  <div class='road-north'></div>
  <div class='road-south'></div>
</div>
