<div class='tile id-16-0'>
  <div class='castle-north-west-connected-road'></div>
  <div class='road-south'></div>
  <div class='road-east'></div>
</div>
<div class='tile id-16-90'>
  <div class='castle-north-east-connected-road'></div>
  <div class='road-south'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-16-180'>
  <div class='castle-south-east-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-16-270'>
  <div class='castle-south-west-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-east'></div>
</div>
