<div class='tile id-15-0'>
  <div class='castle-north-connected-road'></div>
  <div class='road-east'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-15-90'>
  <div class='castle-south-connected-road'></div>
  <div class='road-east'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-15-180'>
  <div class='castle-east-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-south'></div>
</div>
<div class='tile id-15-270'>
  <div class='castle-west-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-south'></div>
</div>
