<div class='tile id-18-0'>
  <div class='square'></div>
  <div class='road-south'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-18-90'>
  <div class='square'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-18-180'>
  <div class='square'></div>
  <div class='road-north'></div>
  <div class='road-east'></div>
</div>
<div class='tile id-18-270'>
  <div class='square'></div>
  <div class='road-south'></div>
  <div class='road-east'></div>
</div>
