<div class='tile id-23-0 id-23-90 id-23-180 id-23-270'>
  <div class='square-not-connected'></div>
  <div class='road-north'></div>
  <div class='road-south'></div>
  <div class='road-east'></div>
  <div class='road-west'></div>
</div>
