<div class='tile id-0-0'>
  <div class='square'></div>
  <div class='monastery-roof-0'></div>
  <div class='monastery-body-0'></div>
</div>
<div class='tile id-0-90'>
  <div class='square'></div>
  <div class='monastery-roof-90'></div>
  <div class='monastery-body-90'></div>
</div>
<div class='tile id-0-180'>
  <div class='square'></div>
  <div class='monastery-roof-180'></div>
  <div class='monastery-body-180'></div>
</div>
<div class='tile id-0-270'>
  <div class='square'></div>
  <div class='monastery-roof-270'></div>
  <div class='monastery-body-270'></div>
</div>
<div class='tile id-1-0'>
  <div class='square'></div>
  <div class='monastery-roof-0'></div>
  <div class='monastery-body-0'></div>
  <div class='road-south'></div>
</div>
<div class='tile id-1-90'>
  <div class='square'></div>
  <div class='monastery-roof-90'></div>
  <div class='monastery-body-90'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-1-180'>
  <div class='square'></div>
  <div class='monastery-roof-180'></div>
  <div class='monastery-body-180'></div>
  <div class='road-north'></div>
</div>
<div class='tile id-1-270'>
  <div class='square'></div>
  <div class='monastery-roof-270'></div>
  <div class='monastery-body-270'></div>
  <div class='road-east'></div>
</div>
