<div class='tile'>
  <div class='castle-north'></div>
  <div class='road-south'></div>
  <div class='road-west'></div>
  <div class='road-east'></div>
</div>
<div class='tile'>
  <div class='castle-east'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
  <div class='road-south'></div>
</div>
<div class='tile'>
  <div class='castle-south'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
  <div class='road-east'></div>
</div>
<div class='tile'>
  <div class='castle-west'></div>
  <div class='road-north'></div>
  <div class='road-south'></div>
  <div class='road-east'></div>
</div>
