<div class='tile id-22-0'>
  <div class='castle-north'></div>
  <div class='road-south'></div>
  <div class='road-west'></div>
  <div class='road-east'></div>
</div>
<div class='tile id-22-90'>
  <div class='castle-east'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
  <div class='road-south'></div>
</div>
<div class='tile id-22-180'>
  <div class='castle-south'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
  <div class='road-east'></div>
</div>
<div class='tile id-22-270'>
  <div class='castle-west'></div>
  <div class='road-north'></div>
  <div class='road-south'></div>
  <div class='road-east'></div>
</div>
