<div class='tile id-19-0'>
  <div class='castle-north-connected-road'></div>
  <div class='road-south'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-19-90'>
  <div class='castle-east-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-19-180'>
  <div class='castle-south-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-east'></div>
</div>
<div class='tile id-19-270'>
  <div class='castle-west-connected-road'></div>
  <div class='road-south'></div>
  <div class='road-east'></div>
</div>
<div class='tile id-20-0'>
  <div class='castle-north-connected-road'></div>
  <div class='road-south'></div>
  <div class='road-east'></div>
</div>
<div class='tile id-20-90'>
  <div class='castle-east-connected-road'></div>
  <div class='road-south'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-20-180'>
  <div class='castle-south-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
</div>
<div class='tile id-20-270'>
  <div class='castle-west-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-east'></div>
</div>
