<div class='tile'>
  <div class='castle-north-connected-road'></div>
  <div class='road-south'></div>
  <div class='road-west'></div>
</div>
<div class='tile'>
  <div class='castle-east-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
</div>
<div class='tile'>
  <div class='castle-south-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-east'></div>
</div>
<div class='tile'>
  <div class='castle-west-connected-road'></div>
  <div class='road-south'></div>
  <div class='road-east'></div>
</div>
<div class='tile'>
  <div class='castle-north-connected-road'></div>
  <div class='road-south'></div>
  <div class='road-east'></div>
</div>
<div class='tile'>
  <div class='castle-east-connected-road'></div>
  <div class='road-south'></div>
  <div class='road-west'></div>
</div>
<div class='tile'>
  <div class='castle-south-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
</div>
<div class='tile'>
  <div class='castle-west-connected-road'></div>
  <div class='road-north'></div>
  <div class='road-east'></div>
</div>
