<div class='tile'>
  <div class='castle-west-north-east'></div>
  <div class='barricade-center'></div>
</div>
<div class='tile'>
  <div class='castle-north-east-south'></div>
  <div class='barricade-center'></div>
</div>
<div class='tile'>
  <div class='castle-east-south-west'></div>
  <div class='barricade-center'></div>
</div>
<div class='tile'>
  <div class='castle-south-west-north'></div>
  <div class='barricade-center'></div>
</div>
