<div class='tile id-2-0'>
  <div class='castle-north'></div>
</div>
<div class='tile id-2-90'>
  <div class='castle-east'></div>
</div>
<div class='tile id-2-180'>
  <div class='castle-south'></div>
</div>
<div class='tile id-2-270'>
  <div class='castle-west'></div>
</div>
