<div class='tile id-7-0 id-7-180'>
  <div class='castle-east-west-connected'></div>
  <div class='barricade-center'></div>
</div>
<div class='tile id-7-90 id-7-270'>
  <div class='castle-north-south-connected'></div>
  <div class='barricade-center'></div>
</div>
<div class='tile id-8-0'>
  <div class='castle-north-west-connected'></div>
  <div class='barricade-north-west-corner'></div>
</div>
<div class='tile id-8-90'>
  <div class='castle-north-east-connected'></div>
  <div class='barricade-north-east-corner'></div>
</div>
<div class='tile id-8-180'>
  <div class='castle-south-east-connected'></div>
  <div class='barricade-south-east-corner'></div>
</div>
<div class='tile id-8-270'>
  <div class='castle-south-west-connected'></div>
  <div class='barricade-south-west-corner'></div>
</div>
