<div class='tile id-21-0'>
  <div class='square-not-connected'></div>
  <div class='road-south'></div>
  <div class='road-west'></div>
  <div class='road-east'></div>
</div>
<div class='tile id-21-90'>
  <div class='square-not-connected'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
  <div class='road-south'></div>
</div>
<div class='tile id-21-180'>
  <div class='square-not-connected'></div>
  <div class='road-north'></div>
  <div class='road-west'></div>
  <div class='road-east'></div>
</div>
<div class='tile id-21-270'>
  <div class='square-not-connected'></div>
  <div class='road-north'></div>
  <div class='road-south'></div>
  <div class='road-east'></div>
</div>
