<div class='tile'>
  <div class='castle-east-west-connected'></div>
</div>
<div class='tile'>
  <div class='castle-north-south-connected'></div>
</div>
<div class='tile'>
  <div class='castle-north-west-connected'></div>
</div>
<div class='tile'>
  <div class='castle-north-east-connected'></div>
</div>
<div class='tile'>
  <div class='castle-south-east-connected'></div>
</div>
<div class='tile'>
  <div class='castle-south-west-connected'></div>
</div>
<div class='tile'>
  <div class='castle-east-west-not-connected'></div>
</div>
<div class='tile'>
  <div class='castle-north-south-not-connected'></div>
</div>
<div class='tile'>
  <div class='castle-neighbours-not-connected-shared-no-road'></div>
  <div class='castle-north-small'></div>
  <div class='castle-west-small'></div>
</div>
<div class='tile'>
  <div class='castle-neighbours-not-connected-shared-no-road'></div>
  <div class='castle-west-small'></div>
  <div class='castle-south-small'></div>
</div>
<div class='tile'>
  <div class='castle-neighbours-not-connected-shared-no-road'></div>
  <div class='castle-south-small'></div>
  <div class='castle-east-small'></div>
</div>
<div class='tile'>
  <div class='castle-neighbours-not-connected-shared-no-road'></div>
  <div class='castle-east-small'></div>
  <div class='castle-north-small'></div>
</div>
