<div class='tile id-3-0 id-3-180'>
  <div class='castle-north-south-connected'></div>
</div>
<div class='tile id-3-90 id-3-270'>
  <div class='castle-east-west-connected'></div>
</div>
<div class='tile id-4-0'>
  <div class='castle-north-west-connected'></div>
</div>
<div class='tile id-4-90'>
  <div class='castle-north-east-connected'></div>
</div>
<div class='tile id-4-180'>
  <div class='castle-south-east-connected'></div>
</div>
<div class='tile id-4-270'>
  <div class='castle-south-west-connected'></div>
</div>
<div class='tile id-5-0 id-5-180'>
  <div class='castle-east-west-not-connected'></div>
</div>
<div class='tile id-5-90 id-5-270'>
  <div class='castle-north-south-not-connected'></div>
</div>
<div class='tile'>
  <div class='castle-neighbours-not-connected-shared-no-road'></div>
  <div class='castle-north-small'></div>
  <div class='castle-west-small'></div>
</div>
<div class='tile'>
  <div class='castle-neighbours-not-connected-shared-no-road'></div>
  <div class='castle-west-small'></div>
  <div class='castle-south-small'></div>
</div>
<div class='tile'>
  <div class='castle-neighbours-not-connected-shared-no-road'></div>
  <div class='castle-south-small'></div>
  <div class='castle-east-small'></div>
</div>
<div class='tile'>
  <div class='castle-neighbours-not-connected-shared-no-road'></div>
  <div class='castle-east-small'></div>
  <div class='castle-north-small'></div>
</div>
