<div class='tile'>
  <div class='castle-north'></div>
</div>
<div class='tile'>
  <div class='castle-west'></div>
</div>
<div class='tile'>
  <div class='castle-south'></div>
</div>
<div class='tile'>
  <div class='castle-east'></div>
</div>
